<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
    <div>
      <!-- 页头begin -->
      <div class="page-header">
        <div>
          <i class="fa fa-map-marker colo-oraf" aria-hidden="true"></i>
          <span>济宁</span>
          <a class="colo-oraf no-underline" href="">[切换]</a>
        </div>
        <div class="colo-grey9">
          <div class="con-phone">
            <i class="fa fa-phone colo-white" aria-hidden="true"></i>
          </div>
          <span class="text-heat">客服电话：0537-XXXXXXX&nbsp;&nbsp;服务时间：周一至周日</span>
          <div class="con-phone">
            <i class="fa fa-user colo-white" aria-hidden="true"></i>
          </div>
          <span>
            <a class="colo-grey9 no-underline" href="login.html">登录</a>
            <span>|</span>
            <a class="colo-grey9 no-underline" href="register.html">注册</a>
          </span>
          <span class="hidden">180****3552</span>
        </div>
      </div>
      <div class="con-nav">
        <img class="img-logo" src="fimages/img_logo.png">
        <div class="navi-list">
          <div class="navi-item active-nav">
            <a class="navt-link no-underline" href="index.html">首页</a>
            <div class="navt-line"></div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">我家方案</a>
            <div class="navt-line"></div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">装修</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">免费报价</a>
              <a class="navs-link" href="">免费设计</a>
              <a class="navs-link" href="">免费验房量房</a>
              <a class="navs-link" href="">装修咨询</a>
              <a class="navs-link" href="">装修公司排行</a>
              <a class="navs-link" href="">装修百科</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">房地产</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">新房信息</a>
              <a class="navs-link" href="">地图搜房</a>
              <a class="navs-link" href="">楼盘排行</a>
              <a class="navs-link" href="">房产买卖流程</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">硬装馆</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">主材馆</a>
              <a class="navs-link" href="">辅材馆</a>
              <a class="navs-link" href="">建材百科</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">软装馆</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">家具品牌馆</a>
              <a class="navs-link" href="">家电品牌馆</a>
              <a class="navs-link" href="">软装品牌馆</a>
              <a class="navs-link" href="">装饰摆件</a>
              <a class="navs-link" href="">搭配指南</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">公装</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">免费量尺</a>
              <a class="navs-link" href="">免费报价</a>
              <a class="navs-link" href="">公装公司推荐</a>
              <a class="navs-link" href="">公装案例</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">业主讨论区</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">买房讨论</a>
              <a class="navs-link" href="">装修讨论</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">方案家服务</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">免费获取专属优惠</a>
              <a class="navs-link" href="">贷款类服务</a>
              <a class="navs-link" href="">预留</a>
            </div>
          </div>
        </div>
        <!-- 搜索begin -->
        <div class="con-search">
          <img class="img-search" src="fimages/icon_search.png">
        </div>
        <!-- 搜索end -->
      </div>
      <!-- 页头end -->
    </div>
  </body>
</html>