<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>标题</title>
	<link rel="stylesheet" href="./fcss/plugins/bootstrap.min.css">
	<script src="./fjs/plugins/jquery.min.js"></script>
	<script src="./fjs/plugins/bootstrap.bundle.min.js"></script>
  <script src="./fjs/plugins/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./fcss/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./fcss/common.css">
  <link rel="stylesheet" href="./fcss/lpHuxing.css">
  </head>
  <body>
    <div>
      <!-- 页头begin -->
      <div class="page-header">
        <div>
          <i class="fa fa-map-marker colo-oraf" aria-hidden="true"></i>
          <span>济宁</span>
          <a class="colo-oraf no-underline" href="">[切换]</a>
        </div>
        <div class="colo-grey9">
          <div class="con-phone">
            <i class="fa fa-phone colo-white" aria-hidden="true"></i>
          </div>
          <span class="text-heat">客服电话：0537-XXXXXXX&nbsp;&nbsp;服务时间：周一至周日</span>
          <div class="con-phone">
            <i class="fa fa-user colo-white" aria-hidden="true"></i>
          </div>
          <a class="colo-grey9 no-underline" href="login.html">登录</a>
          <span>|</span>
          <a class="colo-grey9 no-underline" href="register.html">注册</a>
        </div>
      </div>
      <div class="con-nav">
        <img class="img-logo" src="fimages/img_logo.png">
        <div class="navi-list">
          <div class="navi-item active-nav">
            <a class="navt-link no-underline" href="index.html">首页</a>
            <div class="navt-line"></div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">我家方案</a>
            <div class="navt-line"></div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">装修</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <span class="navs-link" data-toggle="modal" data-target="#free-offe">免费报价</span>
              <a class="navs-link" href="">免费设计</a>
              <span class="navs-link" data-toggle="modal" data-target="#hous-surv">免费验房量房</span>
              <a class="navs-link" href="">装修咨询</a>
              <a class="navs-link" href="">装修公司排行</a>
              <a class="navs-link" href="zxbk.html">装修百科</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">房地产</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="xinFang.html">新房信息</a>
              <a class="navs-link" href="">地图搜房</a>
              <a class="navs-link" href="">楼盘排行</a>
              <a class="navs-link" href="">房产买卖流程</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">硬装馆</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">主材馆</a>
              <a class="navs-link" href="">辅材馆</a>
              <a class="navs-link" href="">建材百科</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">软装馆</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">家具品牌馆</a>
              <a class="navs-link" href="">家电品牌馆</a>
              <a class="navs-link" href="">软装品牌馆</a>
              <a class="navs-link" href="">装饰摆件</a>
              <a class="navs-link" href="">搭配指南</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">公装</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">免费量尺</a>
              <a class="navs-link" href="">免费报价</a>
              <a class="navs-link" href="">公装公司推荐</a>
              <a class="navs-link" href="">公装案例</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">业主讨论区</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <a class="navs-link" href="">买房讨论</a>
              <a class="navs-link" href="">装修讨论</a>
            </div>
          </div>
          <div class="navi-item">
            <a class="navt-link no-underline" href="">方案家服务</a>
            <div class="navt-line"></div>
            <div class="nav-smenu">
              <span class="navs-link" data-toggle="modal" data-target="#disc-deco">免费获取专属优惠</span>
              <a class="navs-link" href="">贷款类服务</a>
              <a class="navs-link" href="">预留</a>
            </div>
          </div>
        </div>
        <!-- 搜索begin -->
        <div class="con-search">
          <img class="img-search" src="fimages/icon_search.png">
        </div>
        <!-- 搜索end -->
      </div>
      <!-- 免费报价弹窗begin -->
      <div class="modal fade offe-free" id="free-offe">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-ofr" data-dismiss="modal">
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <img class="img-ofree" src="fimages/popup/img_money.png">
            <div class="cont-ofre">
              <div class="free-left">
                <div class="free-bma1">
                  <span class="free-bfs1">装修计算器</span>
                  <span class="text-ofr1">今天已有1222位业主获得了装修预算</span>
                </div>
                <div class="free-item">
                  <span>所在城市：</span>
                  <span class="free-asterisk">*</span>
                  <div class="free-ilis">
                    <select class="free-sele sele-prov" id="freo">
                      <option>选择省</option>
                    </select>
                    <select class="free-sele sele-city" id="freo-citi">
                      <option>选择市</option>
                    </select>
                  </div>
                </div>
                <div class="free-item">
                  <span>房屋面积：</span>
                  <span class="free-asterisk">*</span>
                  <div class="free-ilis">
                    <input class="free-binp" placeholder="请输入您的房屋面积" type="text">
                  </div>
                </div>
                <div class="free-item">
                  <span>房屋户型：</span>
                  <span class="free-asterisk">*</span>
                  <div class="free-ilis">
                    <select class="free-ssel">
                      <option>1室</option>
                    </select>
                    <select class="free-ssel">
                      <option>1厅</option>
                    </select>
                    <select class="free-ssel">
                      <option>1厨</option>
                    </select>
                    <select class="free-sele">
                      <option>1卫</option>
                    </select>
                    <select class="free-sele">
                      <option>1阳台</option>
                    </select>
                  </div>
                </div>
                <div class="free-item">
                  <span>手机号码：</span>
                  <span class="free-asterisk">*</span>
                  <div class="free-ilis">
                    <input class="free-binp" placeholder="报价结果将发送到您的手机" type="text">
                  </div>
                </div>
                <div class="free-item">
                  <span>您的姓名：</span>
                  <span class="free-asterisk">*</span>
                  <div class="free-ilis">
                    <input class="free-binp" placeholder="如何称呼您" type="text">
                  </div>
                </div>
                <div class="free-text">
                  方案家温馨提示：您的信息将被严格保密！稍后客服人员将以客服总机0537-1111111电话与您取得联系，请保持电话畅通。
                </div>
              </div>
              <div class="free-middle">
                <div class="free-circular">
                  <span>开始</span>
                  <span>计算</span>
                </div>
              </div>
              <div class="free-right">
                <div class="con-ftpri">
                  <span class="free-bfs1">您家的装修预算</span>
                  <span><span class="free-tpri">1256521</span>元</span>
                </div>
                <div class="free-plis">
                  <div>
                    <span>材料费：</span>
                    <span class="free-num">49562</span>
                    <span>元</span>
                  </div>
                  <div>
                    <span>人工费：</span>
                    <span class="free-num">95021</span>
                    <span>元</span>
                  </div>
                  <div>
                    <span>设计费：</span>
                    <span class="free-num">5155</span>
                    <span>元</span>
                  </div>
                  <div>
                    <span>质检费：</span>
                    <span class="free-num">2150</span>
                    <span>元</span>
                  </div>
                </div>
                <div class="free-text">
                  装修预算数据由方案家历史服务<span class="free-org">3500万</span>业主装修数据、各大城市装修公司合同数据经过大数据实时分析计算。
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 免费报价弹窗end -->
      <!-- 专属装修优惠弹窗begin -->
      <div class="modal fade offe-free" id="disc-deco">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="close-ofr" data-dismiss="modal">
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <img class="img-disc" src="fimages/popup/img_popup.png">
            <div class="cont-disc">
              <input class="disc-inpu" placeholder="请输入您的姓名" type="text">
              <input class="disc-inpu" placeholder="请输入您的电话" type="text">
              <div class="con-darea">
                <select class="disc-area sele-prov" id="disd">
                  <option>选择省</option>
                </select>
                <select class="disc-area sele-city" id="disd-citi">
                  <option>选择市</option>
                </select>
                <select class="disc-area" id="disd-area">
                  <option>选择区</option>
                </select>
              </div>
              <select class="disc-type">
                <option>选择优惠项目类型</option>
                <option>买房</option>
                <option>装修</option>
                <option>材料软装</option>
              </select>
              <button class="btn-disc" id="disc-btn" type="button">立即预约</button>
              <div class="disc-text">
                方案家温馨提示：您的信息将被严格保密！稍后客服人员将以客服总机0537-1111111电话与您取得联系，请保持电话畅通。
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 专属装修优惠弹窗end -->
      <!-- 免费量房咨询弹窗begin -->
      <div class="modal fade offe-free" id="hous-surv">
        <div class="modal-dialog">
          <div class="modal-content modal-wbg">
            <div class="modal-header mhead-wbg">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body mbody-wbg">
              <h5 class="texa-cent">免费预约量房</h5>
              <div class="hous-text">今天已有<span class="free-org">1234</span>位业主成功预约</div>
              <div class="popup-lis">
                <div class="popu-pbet">
                  <select class="pbet-sele sele-prov" id="hoss">
                    <option>选择省</option>
                  </select>
                  <select class="pbet-sele sele-city" id="hoss-citi">
                    <option>选择市</option>
                  </select>
                  <select class="pbet-sele" id="hoss-area">
                    <option>选择区</option>
                  </select>
                </div>
                <input class="popu-inpu" placeholder="请输入您所在的小区" type="text">
                <input class="popu-inpu" placeholder="请输入您的姓名" type="text">
                <input class="popu-inpu" placeholder="请输入您的手机号码" type="text">
              </div>
              <button class="pbtn-appo" type="button">立即预约</button>
              <div class="popu-text">
                方案家温馨提示：您的信息将被严格保密！稍后客服人员将以客服总机0537-1111111电话与您取得联系，请保持电话畅通。
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 免费量房咨询弹窗end -->
      <!-- 预约成功弹窗begin -->
      <div class="modal fade offe-free" id="appo-succ">
        <div class="modal-dialog">
          <div class="modal-content appo-wbg">
            <div class="modal-header mhead-wbg">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body mbody-wbg">
              <img class="img-asucc" src="fimages/popup/img_success.png">
              <div class="appo-title">预约成功</div>
              <div class="appo-text">
                恭喜您已免费获取（预约）成功，稍后客服将电话与您联系，确定您的具体需求，请注意接听。
              </div>
              <button class="pbtn-appo" data-dismiss="modal" type="button">确定</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 预约成功弹窗end -->
      <!-- 页头end -->
      <div class="lpin-bg padd-lr">
        <div class="con-lisea">
          <div class="con-wsinp">
            <input class="wsea-inpu" placeholder="请输入楼盘/地名/开发商等" type="text">
          </div>
          <button class="btn-wsear" type="button">搜索</button>
        </div>
      </div>
      <div class="padd-lr">
        <div class="con-wbrea">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-wbre" href="index.html">首页</a></li>
            <li class="breadcrumb-item"><a class="link-wbre" href="xinFang.html">新房</a></li>
            <li class="breadcrumb-item active">楼盘首页</li>
          </ol>
        </div>
        <div class="lpde-name">中南 · 漫悦湾</div>
        <div class="lpde-marb">
          <div class="lpin-otag">在售</div>
          <div class="lpin-ztag">住宅</div>
          <div class="lpin-btag">洋房</div>
          <div class="lpin-gtag">品牌地产</div>
          <div class="lpin-gtag">低密度</div>
          <div class="lpin-gtag">公园</div>
        </div>
        <div class="lpli-list">
          <a class="lpli-item" href="lpIndex.html">
            <div class="lpli-text">楼盘首页</div>
            <div class="lpli-line"></div>
          </a>
          <a class="lpli-item" href="lpDetails.html">
            <div class="lpli-text">楼盘详情</div>
            <div class="lpli-line"></div>
          </a>
          <a class="lpli-item" href="lpDongtai.html">
            <div class="lpli-text">楼盘动态</div>
            <div class="lpli-line"></div>
          </a>
          <a class="lpli-item active-lpli" href="lpHuxing.html">
            <div class="lpli-text">户型</div>
            <div class="lpli-line"></div>
          </a>
          <a class="lpli-item" href="lpXiangce.html">
            <div class="lpli-text">楼盘相册</div>
            <div class="lpli-line"></div>
          </a>
          <a class="lpli-item" href="lpPinglun.html">
            <div class="lpli-text">楼盘点评</div>
            <div class="lpli-line"></div>
          </a>
          <a class="lpli-item" href="">
            <div class="lpli-text">房价走势</div>
            <div class="lpli-line"></div>
          </a>
        </div>
        <div class="lphu-spbe">
          <div class="lphu-left">
            <div class="lphu-cons">
              <div class="lphu-shax">
                <span class="lphu-sxti">居      室：</span>
                <div>
                  <div class="lphu-site active-site">全部</div>
                  <div class="lphu-site">一居室(2)</div>
                  <div class="lphu-site">三居室(3)</div>
                  <div class="lphu-site">四居室(2)</div>
                </div>
              </div>
              <div class="lphu-shax">
                <span class="lphu-sxti">户      型：</span>
                <div>
                  <div class="lphu-site active-site">全部</div>
                  <div class="lphu-site">1-60m²</div>
                  <div class="lphu-site">60-120m²</div>
                  <div class="lphu-site">120-170m²</div>
                </div>
              </div>
            </div>
            <div class="lphu-list">
              <div class="lphu-item">
                <div class="posi-rela">
                  <img width="100%" src="fimages/lpIndex/example3.png">
                  <div class="lphu-itag lhit-org">在售</div>
                </div>
                <div class="lphu-ctex">
                  <div class="lphu-title">一室一厅一卫</div>
                  <div class="lphu-cont">建筑面积：约56.34平方米</div>
                </div>
              </div>
              <div class="lphu-item">
                <div class="posi-rela">
                  <img width="100%" src="fimages/lpIndex/example3.png">
                  <div class="lphu-itag lhit-org">在售</div>
                </div>
                <div class="lphu-ctex">
                  <div class="lphu-title">一室一厅一卫</div>
                  <div class="lphu-cont">建筑面积：约56.34平方米</div>
                </div>
              </div>
              <div class="lphu-item">
                <div class="posi-rela">
                  <img width="100%" src="fimages/lpIndex/example3.png">
                  <div class="lphu-itag lhit-org">在售</div>
                </div>
                <div class="lphu-ctex">
                  <div class="lphu-title">一室一厅一卫</div>
                  <div class="lphu-cont">建筑面积：约56.34平方米</div>
                </div>
              </div>
              <div class="lphu-item">
                <div class="posi-rela">
                  <img width="100%" src="fimages/lpIndex/example3.png">
                  <div class="lphu-itag lhit-grey">售罄</div>
                </div>
                <div class="lphu-ctex">
                  <div class="lphu-title">一室一厅一卫</div>
                  <div class="lphu-cont">建筑面积：约56.34平方米</div>
                </div>
              </div>
              <div class="lphu-item">
                <div class="posi-rela">
                  <img width="100%" src="fimages/lpIndex/example3.png">
                  <div class="lphu-itag lhit-grey">售罄</div>
                </div>
                <div class="lphu-ctex">
                  <div class="lphu-title">一室一厅一卫</div>
                  <div class="lphu-cont">建筑面积：约56.34平方米</div>
                </div>
              </div>
            </div>
          </div>
          <div class="lphu-right">
            <div class="lphu-ftit">相册分类</div>
            <div class="lphu-stit">室外图</div>
            <div class="xiac-item">
              <img class="img-xiac" src="fimages/icon_00.png">
              <span>效果图</span>
              <span class="xiac-num">6</span>
            </div>
            <div class="xiac-item">
              <img class="img-xiac" src="fimages/icon_01.png">
              <span>交通图</span>
              <span class="xiac-num">7</span>
            </div>
            <div class="xiac-item">
              <img class="img-xiac" src="fimages/icon_02.png">
              <span>样板图</span>
              <span class="xiac-num">22</span>
            </div>
            <div class="xiac-item">
              <img class="img-xiac" src="fimages/icon_03.png">
              <span>规划图</span>
              <span class="xiac-num">10</span>
            </div>
            <div class="xiac-item">
              <img class="img-xiac" src="fimages/icon_04.png">
              <span>鸟瞰图</span>
              <span class="xiac-num">3</span>
            </div>
            <div class="lphu-stit">室内图</div>
            <div class="xiac-item active-xiac">
              <img class="img-xiac" src="fimages/icon_05.png">
              <span>户型</span>
              <span class="xiac-num">22</span>
            </div>
          </div>
        </div>
        <div class="lpin-frse">
          <div class="lpin-cota">
            <div class="lpin-ttle">热门楼盘</div>
            <table class="lpin-tabl">
              <tr>
                <th>楼盘名称</th>
                <th>城区</th>
                <th>价格</th>
              </tr>
              <tr>
                <td>中垠悦城</td>
                <td>高新区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>城投天汇多彩</td>
                <td>任城区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>公用瑞马悦府</td>
                <td>兖州</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>冠鲁明德华府</td>
                <td>太白湖新区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>东方维也纳</td>
                <td>任城区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>保利时光印象</td>
                <td>任城区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>碧桂园济州府</td>
                <td>高新区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>京杭新都汇</td>
                <td>太白湖新区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>华都国滨府</td>
                <td>高新区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
            </table>
          </div>
          <div class="lpin-cota">
            <div class="lpin-ttle">济宁新盘</div>
            <table class="lpin-tabl">
              <tr>
                <th>楼盘名称</th>
                <th>城区</th>
                <th>价格</th>
              </tr>
              <tr>
                <td>中垠悦城</td>
                <td>高新区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>城投天汇多彩</td>
                <td>任城区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>公用瑞马悦府</td>
                <td>兖州</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>冠鲁明德华府</td>
                <td>太白湖新区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>东方维也纳</td>
                <td>任城区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>保利时光印象</td>
                <td>任城区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>碧桂园济州府</td>
                <td>高新区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>京杭新都汇</td>
                <td>太白湖新区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
              <tr>
                <td>华都国滨府</td>
                <td>高新区</td>
                <td>均价<span class="lpin-org">8200</span>元/m²</td>
              </tr>
            </table>
          </div>
          <div class="lpin-cota">
            <div class="lpin-ttle">本月新盘</div>
            <table class="lpin-tabl">
              <tr>
                <th>楼盘名称</th>
                <th>城区</th>
                <th>价格</th>
              </tr>
            </table>
            <div class="lpin-nodata">暂无数据</div>
          </div>
        </div>
      </div>
      <!-- 页尾begin -->
      <div class="page-footer">
        <div>
          <div>
            <a class="footer-link" href="company.html">关于我们</a>
            <a class="footer-link" href="statement.html">服务声明</a>
            <a class="footer-link" href="">商务合作</a>
            <a class="footer-link" href="recruitment.html">招聘信息</a>
            <a class="footer-link" href="">联系我们</a>
          </div>
          <div>
            <div class="foot-copr">Copyright©2020 济宁方案家有限公司</div>
            <div class="foot-copr">Beijing SouFun Science&Technology Development Co.,Ltd 版权所有</div>
            <div class="foot-copr">违法和不良信息举报电话： 010-56318764 举报邮箱： jubao@fang.com</div>
          </div>
        </div>
        <div>
          <div class="con-ftext">
            <div class="colo-white">全国统一热线</div>
            <div class="hotline">400-5555-000</div>
            <div class="colo-grey8">服务时间:周一至周日</div>
          </div>
          <img class="img-fqcod" src="fimages/footer_ewm.jpg">
        </div>
      </div>
      <!-- 页尾end -->
    </div>
	<script src="./fjs/common.js"></script>
  </body>
</html>