<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>论坛详情</title>
	<link rel="stylesheet" href="/fcss/plugins/bootstrap.min.css">
	<script src="/fjs/plugins/jquery.min.js"></script>
	<script src="/fjs/plugins/bootstrap.bundle.min.js"></script>
	<script src="/fjs/plugins/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/fcss/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/fcss/plugins/swiper.min.css">
	<script src="/fjs/plugins/swiper.min.js"></script>
	<link rel="stylesheet" href="/fcss/common.css">
	<link rel="stylesheet" href="/fcss/ltxq.css">

</head>

<body>
	<div>
		<!-- 页头begin -->
		<div class="page-header">
			<div>
				<i class="fa fa-map-marker colo-oraf" aria-hidden="true"></i>
				<span>济宁</span>
				<a class="colo-oraf no-underline" href="">[切换]</a>
			</div>
			<div class="colo-grey9">
				<div class="con-phone">
					<i class="fa fa-phone colo-white" aria-hidden="true"></i>
				</div>
				<span class="text-heat">客服电话：0537-XXXXXXX&nbsp;&nbsp;服务时间：周一至周日</span>
				<div class="con-phone">
					<i class="fa fa-user colo-white" aria-hidden="true"></i>
				</div>
				<a class="colo-grey9 no-underline" href="login.html">登录</a>
				<span>|</span>
				<a class="colo-grey9 no-underline" href="register.html">注册</a>
			</div>
		</div>
		<div class="con-nav">
			<img class="img-logo" src="/fimages/img_logo.png">
			<div class="navi-list">
				<div class="navi-item active-nav">
					<a class="navt-link no-underline" href="index.html">首页</a>
					<div class="navt-line"></div>
				</div>
				<div class="navi-item">
					<a class="navt-link no-underline" href="">我家方案</a>
					<div class="navt-line"></div>
				</div>
				<div class="navi-item">
					<a class="navt-link no-underline" href="">装修</a>
					<div class="navt-line"></div>
					<div class="nav-smenu">
						<span class="navs-link" data-toggle="modal" data-target="#free-offe">免费报价</span>
						<a class="navs-link" href="">免费设计</a>
						<a class="navs-link" href="">免费验房量房</a>
						<a class="navs-link" href="">装修咨询</a>
						<a class="navs-link" href="">装修公司排行</a>
						<a class="navs-link" href="zxbk.html">装修百科</a>
					</div>
				</div>
				<div class="navi-item">
					<a class="navt-link no-underline" href="">房地产</a>
					<div class="navt-line"></div>
					<div class="nav-smenu">
						<a class="navs-link" href="">新房信息</a>
						<a class="navs-link" href="">地图搜房</a>
						<a class="navs-link" href="">楼盘排行</a>
						<a class="navs-link" href="">房产买卖流程</a>
					</div>
				</div>
				<div class="navi-item">
					<a class="navt-link no-underline" href="">硬装馆</a>
					<div class="navt-line"></div>
					<div class="nav-smenu">
						<a class="navs-link" href="">主材馆</a>
						<a class="navs-link" href="">辅材馆</a>
						<a class="navs-link" href="">建材百科</a>
					</div>
				</div>
				<div class="navi-item">
					<a class="navt-link no-underline" href="">软装馆</a>
					<div class="navt-line"></div>
					<div class="nav-smenu">
						<a class="navs-link" href="">家具品牌馆</a>
						<a class="navs-link" href="">家电品牌馆</a>
						<a class="navs-link" href="">软装品牌馆</a>
						<a class="navs-link" href="">装饰摆件</a>
						<a class="navs-link" href="">搭配指南</a>
					</div>
				</div>
				<div class="navi-item">
					<a class="navt-link no-underline" href="">公装</a>
					<div class="navt-line"></div>
					<div class="nav-smenu">
						<a class="navs-link" href="">免费量尺</a>
						<a class="navs-link" href="">免费报价</a>
						<a class="navs-link" href="">公装公司推荐</a>
						<a class="navs-link" href="">公装案例</a>
					</div>
				</div>
				<div class="navi-item">
					<a class="navt-link no-underline" href="">业主讨论区</a>
					<div class="navt-line"></div>
					<div class="nav-smenu">
						<a class="navs-link" href="">买房讨论</a>
						<a class="navs-link" href="">装修讨论</a>
					</div>
				</div>
				<div class="navi-item">
					<a class="navt-link no-underline" href="">方案家服务</a>
					<div class="navt-line"></div>
					<div class="nav-smenu">
						<a class="navs-link" href="">免费获取专属优惠</a>
						<a class="navs-link" href="">贷款类服务</a>
						<a class="navs-link" href="">预留</a>
					</div>
				</div>
			</div>
			<!-- 搜索begin -->
			<div class="con-search">
				<img class="img-search" src="/fimages/icon_search.png">
			</div>
			<!-- 搜索end -->
		</div>
		<!-- 页头end -->
    <div class="main">
      <div class="padd-lr">
        <div class="con-wbrea">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-wbre" href="/index">首页</a></li>
            <li class="breadcrumb-item"><a class="link-wbre" href="/ltzx?type=0">论坛</a></li>
            <li class="breadcrumb-item active">论坛详情</li>
          </ol>
				</div>
				<!-- 页面跳转begin -->
        <div class="pagination">
          <div class="fahui"><a href="javascript:history.go(-1)">返回列表</a></div>
          <a class="previous" th:href="${bean.itemid}+'?page='+${replypages.currPage-1}">上一页</a>
          <span class="mid-line">|</span>
          <span th:text="${replypages.currPage}">1</span>
          <input class="page-ipt" type="text" value="1" id="page">
          <span>/</span>
          <span th:text="${replypages.totalPage}">10</span>
          <span>页</span>
			<a class="previous"  th:if="${replypages.currPage != replypages.totalPage}" th:href="''+${bean.itemid}+'?page='+${replypages.currPage+1}">下一页</a>

          <button class="go" onclick="go()" type="button">go</button>
				</div>
				<!-- 页面跳转end -->
		  <div >
        <div class="topics-title" th:text="${bean.title}">全济·利园怎么样？看中交通和配套了，大家给点意见？</div>

			  <span id="bbsid" th:text="${bean.itemid}" th:hidden="true"></span>
        <div class="topic">
					<!-- 楼主层begin -->
					<div class="floor">
						<div class="user">
							<img class="louzhu" src="/fimages/lt/louzhu.png" alt="">
							<div class="user-icon-box">
								<img class="user-icon" th:src="${bean.touxiang}" th:alt="${bean.title}">
							</div>
							<div class="user-name" th:text="${bean.memberName}">李梦华123...aaaaaaaaaaaaaaaaaa</div>
						</div>
						<div class="topic-detail">
							<div class="topic-content">
								<div class="topic-text" th:text="${bean.content}">
									时代在发展，社会在开放，“百川入海”的理念使伟大的中华民族不断超越。随着外来文化的入侵，我们可以通过有效的利用和整合来创造新事物。办公室装修行业的变化是一样的，无论是欧洲古典风格、美国田园风格、日本木质风格等等。它被有效地吸收了，所以现代简约的办公风格深受成都白领的喜爱。今天，成都办公装饰公司的小卓将与您分享现代简约的办公风格。事实上，简单并不像大家想象的那么好。简单只是让我们从视觉上看，没有太多夸张，但它给了人们同样的整体设计质量和品位，一个优雅的姿态。设计师通过良好的内部尺寸控制和色彩搭配来表达现代办公室的简约风格。这也是对设计师的挑战，通过简单的设计语言来表达企业文化和产品特征。成都这种现代极简主义办公风格的装修作品，难道不能让你感动和喜爱莫吗？
								</div>
								<!--<div class="topic-img">
									<img src="/fimages/index/example7.png" alt="">
								</div>-->
							</div>
							<div class="topic-reply">
								<a href="#replay"><span >回复</span></a>
								<span class="reply-time" th:text="${#dates.format(bean.addtime, 'yyyy.MM.dd')}">2020.09.30</span>
							</div>
						</div>
					</div>
					<!-- 楼主层end -->
					<!-- 层主begin -->
					<div class="floor" th:each="replys : ${replypages.list}">
						<div class="user">
							<div class="user-icon-box">
								<img class="user-icon" th:src="${replys.headimg}" alt="">
							</div>
							<div class="user-name" th:text="${replys.repleyname}">李梦华123...</div>
						</div>
						<div class="topic-detail">
							<div class="topic-content">
								<div class="topic-text" th:text="${replys.repleyContent}">
									时代在发展，社会在开放，
								</div>
							</div>
							<div class="topic-reply">
								<span class="reply-time" th:text="${#dates.format(replys.addtime, 'yyyy.MM.dd')}">2020.09.30</span>
							</div>
						</div>
					</div>
					<!-- 层主end -->
				</div>
		  </div>
				<!-- 底部发表评论框begin -->
				<div class="footer-reply" id="replay">
					<div class="footer-reply-title">发表评论</div>
					<div class="foot-reply-content">
						<div class="upload-box">
							<div class="upload">
								<img class="upload-icon" src="/fimages/lt/upload.png" alt="">
								<span>上传照片</span>
							</div>
							<input class="upload upload-ipt" type="file" @chang>

						</div>
						<div>
							<textarea class="footer-reply-ipt" name="" id="content" cols="30" rows="10" placeholder="输入您的回复内容..."></textarea>
						</div>
						<button class="foot-reply-btn" onclick="save()" type="button">发表评论</button>
					</div>
				</div>
				<!-- 底部发表评论框end -->
      </div>
    </div>

		<!-- 页尾begin -->
		<div class="page-footer">
			<div>
				<div>
					<a class="footer-link" href="company.html">关于我们</a>
					<a class="footer-link" href="statement.html">服务声明</a>
					<a class="footer-link" href="">商务合作</a>
					<a class="footer-link" href="recruitment.html">招聘信息</a>
					<a class="footer-link" href="">联系我们</a>
				</div>
				<div>
					<div class="foot-copr">Copyright©2020 济宁方案家有限公司</div>
					<div class="foot-copr">Beijing SouFun Science&Technology Development Co.,Ltd 版权所有</div>
					<div class="foot-copr">违法和不良信息举报电话： 010-56318764 举报邮箱： jubao@fang.com</div>
				</div>
			</div>
			<div>
				<div class="con-ftext">
					<div class="colo-white">全国统一热线</div>
					<div class="hotline">400-5555-000</div>
					<div class="colo-grey8">服务时间:周一至周日</div>
				</div>
				<img class="img-fqcod" src="/fimages/footer_ewm.jpg">
			</div>
		</div>
		<!-- 页尾end -->
	</div>
	<script src="/fjs/ltxq.js"></script>
	<script>
		function gosearch() {
			var title = $("#searchtitle").val();
			console.log("ddddd=="+page);
			console.log("ddddd=="+title);
			window.location.href="/bbsSearch?title="+title;
		}
		function go() {
			var itemid = [[${bean.itemid}]];
			var page = $("#page").val();
			window.location.href=itemid+"?page="+page;

		}


		//保存回帖
		function save() {
			var title = $("#content").val();
			var image = $("#image").val();
			var bbsid = document.getElementById("bbsid").innerText;
			title=title+image;
			console.log("ddddd=="+title);
			console.log("ddddd=="+bbsid);
			//return false;

			// window.location.href="/bbsSearch?content="+title+"&bbsid="+bbsid;

			var url = "/bbs/replaySave" ;
			$.ajax({
				type: "POST",
				url:  url,

				contentType: "application/json",
				data: JSON.stringify({"repleyContent": title,"bbsid":bbsid}),

				success: function(r){
					if(r.code === 0){
						window.location.href="/new/"+bbsid;
					}else{
						alert(r.msg);
						return false;
					}
				}
			});

		}

	</script>
</body>

</html>