<!DOCTYPE html>
<html>
<head>
    <title>材料资讯</title>
		<#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/js/modules/zmadmin/kindeditor-4.1.7/themes/default/default.css"/>
    <script charset="utf-8" src="${request.contextPath}/statics/js/modules/zmadmin/kindeditor-4.1.7/kindeditor-min.js"></script>
    <script charset="utf-8" src="${request.contextPath}/statics/js/modules/zmadmin/kindeditor-4.1.7/lang/zh_CN.js"></script>
    <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
    <script charset="utf-8" src="${request.contextPath}/statics/libs/chosen.jquery.min.js"></script>
    <script charset="utf-8" src="${request.contextPath}/statics/js/vue-resource.js"></script>
    <script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
    <script src="${request.contextPath}/statics/plugins/layui/lay/modules/laydate.js?"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:fmatericalarticle:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:fmatericalarticle:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:fmatericalarticle:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">标题</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fMatericalArticle.title" placeholder="标题"/>
                        </div>
                        <span style="color: red">*</span>
                    </div>
						<!--					                    <div class="form-group">
                        <div class="col-sm-2 control-label">摘要</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fMatericalArticle.subTitle" placeholder="摘要"/>
                        </div>
                    </div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label">摘要</div>
                <div class="col-sm-10">
                    <textarea  name="subtitle" v-model="fMatericalArticle.subTitle"
                               type="text/plain" style="width:400px;height:80px;"></textarea><span style="color: red">120字左右*</span>
                </div>
                <span style="color: red">*</span>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">内容</div>
                <div class="col-sm-10">
                            <textarea id="activity_detail" name="content" v-model="fMatericalArticle.content"
                                      type="text/plain" style="width:1024px;height:500px;"></textarea>
                </div>
            </div>
							<!--				                    <div class="form-group">
                        <div class="col-sm-2 control-label">浏览量</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fMatericalArticle.views" placeholder="浏览量"/>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <div class="col-sm-2 control-label">所属材料品牌分类</div>
                        <div class="col-sm-10">
                            <select v-model="fMatericalArticle.materialBrandId" class="form-control">
                                <template v-for="option in typeList2">
                                    <option :value="option.itemid" v-if="option.itemid == fMatericalArticle.materialBrandId" selected>{{ option.brandName }}
                                    </option>
                                    <option :value="option.itemid" v-if="option.itemid != fMatericalArticle.materialBrandId">{{ option.brandName}}
                                    </option>
                                </template>
                            </select>
                        </div>
                        <span style="color: red">*</span>
                    </div>
						<!--					                    <div class="form-group">
                        <div class="col-sm-2 control-label">所属材料分类id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fMatericalArticle.materialTypeId" placeholder="所属材料分类id"/>
                        </div>
                    </div>-->
                   <div class="form-group">
                        <div class="col-sm-2 control-label">所属材料分类</div>
                        <div class="col-sm-10">
                            <select v-model="fMatericalArticle.materialTypeId" class="form-control">
                                <template v-for="option in typeList3">
                                    <option :value="option.itemid" v-if="option.itemid == fMatericalArticle.materialTypeId" selected>{{ option.type }}
                                    </option>
                                    <option :value="option.itemid" v-if="option.itemid != fMatericalArticle.materialTypeId">{{ option.type}}
                                    </option>
                                </template>
                            </select>
                        </div>
                        <span style="color: red">*</span>
                    </div>


											                    <div class="form-group">
                        <div class="col-sm-2 control-label">标签</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fMatericalArticle.tags" placeholder="标签，多个用;分开"/>
                        </div>
                    </div>
											                   <!-- <div class="form-group">
                        <div class="col-sm-2 control-label">添加时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fMatericalArticle.addtime" placeholder="添加时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">添加人id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fMatericalArticle.addUserid" placeholder="添加人id"/>
                        </div>
                    </div>-->
						<!--					                    <div class="form-group">
                        <div class="col-sm-2 control-label">材料文章分类id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fMatericalArticle.articleTypeId" placeholder="材料文章分类id"/>
                        </div>
                    </div>-->
               <div class="form-group">
                    <div class="col-sm-2 control-label">材料文章分类</div>
                    <div class="col-sm-10">
                        <select v-model="fMatericalArticle.articleTypeId" class="form-control">
                            <template v-for="option in typeList">
                                <option :value="option.typeid" v-if="option.typeid == fMatericalArticle.articleTypeId" selected>{{ option.typeName }}
                                </option>
                                <option :value="option.typeid" v-if="option.typeid != fMatericalArticle.articleTypeId">{{ option.typeName}}
                                </option>
                            </template>
                        </select>
                    </div>
                    <span style="color: red">*</span>
                </div>
							<!--				                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fMatericalArticle.updatetime" placeholder="修改时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">所属地区id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fMatericalArticle.areaid" placeholder="所属地区id"/>
                        </div>
                    </div>-->
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/zmadmin/fmatericalarticle.js?_${.now?long}"></script>
</body>
</html>