<!DOCTYPE html>
<html>
<head>
    <title>回帖</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<!--<#if shiro.hasPermission("sys:frepleybbs:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:frepleybbs:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>-->
			<#if shiro.hasPermission("sys:frepleybbs:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">主贴id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fRepleyBbs.bbsid" placeholder="主贴id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">回复内容</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fRepleyBbs.repleyContent" placeholder="回复内容"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">回复人id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fRepleyBbs.memberid" placeholder="回复人id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">ip地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fRepleyBbs.ip" placeholder="ip地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">被跟帖人id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fRepleyBbs.toMemberid" placeholder="被跟帖人id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">所属地区</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fRepleyBbs.areaid" placeholder="所属地区"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">楼层</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fRepleyBbs.floor" placeholder="楼层"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">添加时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fRepleyBbs.addtime" placeholder="添加时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

<div id="showDetail" class="" style="display: none; ">
    <div  id="showDetailDIV" align="center" style="padding:20px; font-size: large;">
    </div>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/zmadmin/frepleybbs.js?_${.now?long}"></script>
</body>
</html>